{% extends "tasktodo/base.html" %}
{% load static %}

{% block content %}

<div class="center-column">

    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input class="btn btn-success" type="submit" name="create" value="Add Task" >

    </form>
  
    <div >
    {% for task in tasks %}

        <div class="item-row">

            <a class="btn btn-sm btn-info" href=" {% url 'update_task' task.id %} ">Update</a>
            <a class="btn btn-sm btn-danger" href=" {% url 'delete_task' task.id %} ">Delete</a>
            
            {% if task.complete == True %}
            <strike> {{task}} ,  {{task.created_date}} </strike>
            {% else %}
            <span>{{task}}    , created on  - {{task.created_date}} </span>
            {% endif %}
        </div>

    {% endfor  %}
    </div>
</div>

{% endblock %}